{% extends "base.twig.html" %}

{% block title %}{{ nom }}{% endblock %}

{% block head %}
			{{ parent() }}
	    	<link rel="stylesheet" href="groupstyle.css">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}

			<div class="jumbotron">
				<div class="col-md-offset-3 ">
		    		<h1>
		    			{{ groupname }}
					</h1>

					<p>
						{{ groupdescription }}
					</p>
				</div>
			</div>

			<div class="container">

				
				

				<div class="row">

						<div class="col-md-3 ">
							<h1>Evenements</h1>

							{% for p in events %}
									<div class="user-info-box col-md-2 col-xs-6">
										<a href="/event/{{ p }}"><img alt="" src="/event/{{ p }}/ppic"></a>
										<p>{{ p }}</p>
									</div>
								{% endfor %}
						</div>
						


				    	<div class="col-md-6">


								<form action="/group/0" method="post"class="form-group">
									<textarea class="form-control" rows="5" name="message" placeholder="Votre Message"></textarea><br> 
								    <input type="submit" name="action" value="Publier">	
								</form>



								<h2>Derniers posts</h2>


								{% for p in members %}
									<div class="box">
										<a href="/profile/{{ p }}"><img alt="" src="/profile/{{ p }}/ppic"></a>
										<p>{{ p }}</p>
										</div>
										{{ message }}
									</div>

								{% endfor %}  


							</div>

							<div class="col-md-2 ">
								<h1>Membres</h1>
								{% for p in members %}
									<div class="user-info-box col-md-2 col-xs-6">
										<a href="/profile/{{ p }}"><img alt="" src="/profile/{{ p }}/ppic"></a>
										<p>{{ p }}</p>
									</div>
								{% endfor %}

								
							</div>

					</div>

			</div>
{% endblock %}