{% extends "base.twig.html" %}

{% block title %}{{ nom }}{% endblock %}

{% block head %}
			{{ parent() }}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}

			<div class="jumbotron">
				<div class="col-md-offset-3 ">
		    		<h1>
		    			Partenaires
					</h1>

					<p>
						Sites que nous vous conseillons.
					</p>
				</div>
			</div>

			<div class="container">

				
				

				<div class="row">

						<div class="col-md-3 ">
							
							
						</div>
						


				    	<div class="col-md-6">
				    		<ul>
				    			<li><a href="http://www.mickael-martin-nevot.com/">Recueil des cours</a></li>
				    			<li><a href="https://www.4chan.org/">4chan</a></li>
				    			<li><a href="http://get.moe/">Domaine .moe</a></li>
				    			<li><a href="http://php.net/">Site officiel PHP</a></li>
				    			<li><a href="http://css3-drop-shadows.herokuapp.com/">Générateur d'ombres CSS</a></li>
				    			<li><a href="http://subtlepatterns.com/">Subtle Patterns : images de fond</a></li>

							</ul>	
						</div>

						<div class="col-md-2 ">
							

							
						</div>

					</div>

			</div>
{% endblock %}